.App .h11{
  color: #000;
  font-size: 15px;
  font-weight: 100;
  padding: 8px 20px;
  box-shadow:1px 1px 5px 1px rgba(0,0,0,0.5); 
}
a{
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    padding:7px 12px;
    background-color:purple;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
}
