.p_checker{
    position: fixed;
    font-family: 'Times New Roman', Times, serif;
    top: 0;
    left: 0;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}
.checker{
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.7);
  padding: 0px 0px;
  background-color: white;
  border-radius: 5px;
}
.checker_header{
    background-color: purple;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 6px 15px;
    font-size: 18px;
}
.checker_message,.checker_footer{
    margin: 5px 15px;
}
.checker_footer{
    text-align:right;
    margin-top:10px;
    text-shadow: 1px 0 rgba(0,0,0,0.8);
}